.protractor-container {
  .protractor-header {
    text-align: center;
    margin-bottom: 90px;

    img {
      height: 101px;
      width: 450px;
    }
  }

  .example {
    margin-top: 40px;
  }
}

.github-button {
  img {
    margin-right: 12px;
  }
}
